<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.JobDao">
    <select id="selectAll" resultType="com.entity.Job">
        select * from job where status=1;
    </select>
    <select id="selectById" resultType="com.entity.Job">
        select * from job where id=#{id} and status=1;
    </select>
    <select id="selectByPage" resultType="com.entity.Job">
        select * from job where status=1 limit #{begin},#{size};
    </select>
    <insert id="insert" parameterType="com.entity.Job">
        insert into job values(null,#{name},#{details},1);
    </insert>
    <update id="update" parameterType="com.entity.Job">
        update job set name=#{name},details=#{details} where id=#{id};
    </update>
    <update id="delete" parameterType="com.entity.Job">
        update job set status=2 where id=#{id};
    </update>
</mapper>
